<p id="notice"><%= notice %></p>

<h1>Peples</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Infected</th>
      <th>Age</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @peples.each do |peple| %>
      <tr>
        <td><%= peple.name %></td>
        <td><%= peple.gender %></td>
        <td><%= peple.infected %></td>
        <td><%= peple.age %></td>
        <td><%= peple.longitude %></td>
        <td><%= peple.latitude %></td>
        <td><%= link_to 'Show', peple %></td>
        <td><%= link_to 'Edit', edit_peple_path(peple) %></td>
        <td><%= link_to 'Destroy', peple, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peple', new_peple_path %>
