<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @peple.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @peple.gender %>
</p>

<p>
  <strong>Infected:</strong>
  <%= @peple.infected %>
</p>

<p>
  <strong>Age:</strong>
  <%= @peple.age %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @peple.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @peple.latitude %>
</p>

<%= link_to 'Edit', edit_peple_path(@peple) %> |
<%= link_to 'Back', peples_path %>
