<p id="notice"><%= notice %></p>

<p>
  <strong>Peple:</strong>
  <%= @inventory.peple %>
</p>

<p>
  <strong>Item:</strong>
  <%= @inventory.item %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inventory.quantity %>
</p>

<p>
  <strong>Points:</strong>
  <%= @inventory.points %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
