<%= form_for(transfer) do |f| %>
  <% if transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :peple1_id %>
    <%= f.text_field :peple1_id %>
  </div>

  <div class="field">
    <%= f.label :item1_id %>
    <%= f.text_field :item1_id %>
  </div>

  <div class="field">
    <%= f.label :quantity1 %>
    <%= f.number_field :quantity1 %>
  </div>

  <div class="field">
    <%= f.label :peple2_id %>
    <%= f.text_field :peple2_id %>
  </div>

  <div class="field">
    <%= f.label :item2_id %>
    <%= f.text_field :item2_id %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
