<p id="notice"><%= notice %></p>

<h1>Transfers</h1>

<table>
  <thead>
    <tr>
      <th>Peple1</th>
      <th>Item1</th>
      <th>Quantity1</th>
      <th>Peple2</th>
      <th>Item2</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transfers.each do |transfer| %>
      <tr>
        <td><%= transfer.peple1 %></td>
        <td><%= transfer.item1 %></td>
        <td><%= transfer.quantity1 %></td>
        <td><%= transfer.peple2 %></td>
        <td><%= transfer.item2 %></td>
        <td><%= transfer.quantity %></td>
        <td><%= link_to 'Show', transfer %></td>
        <td><%= link_to 'Edit', edit_transfer_path(transfer) %></td>
        <td><%= link_to 'Destroy', transfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transfer', new_transfer_path %>
