<p id="notice"><%= notice %></p>

<p>
  <strong>Peple1:</strong>
  <%= @transfer.peple1 %>
</p>

<p>
  <strong>Item1:</strong>
  <%= @transfer.item1 %>
</p>

<p>
  <strong>Quantity1:</strong>
  <%= @transfer.quantity1 %>
</p>

<p>
  <strong>Peple2:</strong>
  <%= @transfer.peple2 %>
</p>

<p>
  <strong>Item2:</strong>
  <%= @transfer.item2 %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @transfer.quantity %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
